<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      {% for post in site.posts %}
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>

          <!-- Wrapper 16:9 para imagen o video -->
         <div class="portfolio-thumb-wrapper">
          {% if post.video %}
            {% if post.video_zoom_scale %}
              {% assign zoom_class = " portfolio-thumb-media-zoom" %}
              {% assign zoom_style = "transform: scale(" | append: post.video_zoom_scale | append: ");" %}
            {% else %}
              {% assign zoom_class = "" %}
              {% assign zoom_style = "" %}
            {% endif %}
        
            <video class="portfolio-thumb-media{{ zoom_class }}"
                   style="{{ zoom_style }}"
                   muted loop playsinline autoplay>
              <source src="{{ "/video/" | append: post.video | prepend: site.baseurl }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          {% else %}
            <img src="img/portfolio/{{ post.img }}" class="portfolio-thumb-media" alt="{{ post.alt }}">
          {% endif %}
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
